body {
    margin: 0;
    padding: 0;
    background: lightblue;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.con {
    width: 100%;
    max-width: 400px;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 16px;
    padding: 20px;

    border-radius: 12px;
}

#color_that_enter {
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 2px solid white;
}

.pic {
    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: pink;
    border-radius: 50%;
}

button {
    height: 44px;
    width: 100%;
    max-width: 350px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#sub {
    background: blue;
    color: white;
}

#sum_2 {
    background: linear-gradient(#ff0080,#8e2de2);
    color: white;
}

.pertion {
    height: 1px;
    width: 100%;
    background: #ddd;
    margin: 20px 0;
}
